.logo-container {
    position: relative;
}

.logo-container .logo-img {
    width: 50px;
    border-radius: 50%;
}

.logo-container .text {
    position: absolute;
    top: 15px;
    font-size: 13px !important;
}


.logo-container .sub-text {
    position: absolute;
    top: 36px;
    left: 78px;
    font-size: 10px !important;
}

.follow-tag {
    font-size: 10px !important;
    position: absolute;
    right: 10px;
    top: 15px;
}